@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
:root {
  --neutral-0: #fff;
  --neutral-800: #474646;
  --neutral-900: #141313;

  --card-bg: #f0f4f5;
  --card-bg: #f5f5f1;
  --border: #e9e3e3;
  --text: #111111;
  --primary-color: #fdcd67;
  --gradient: linear-gradient(to right, #fff, #faf8f0);
}

.dark {
  --neutral-0: #141313;
  --neutral-800: #b2b0b0;
  --neutral-900: #fcf8f8;

  --card-bg: #1e1e1f;
  --border: #343434;
  --gradient: linear-gradient(to right, #161616, #252524fe);
}
*,
::after,
::before {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

button,
a {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
p {
  font-size: 1.1rem;
  line-height: 1.5;
}
li {
  list-style: none;
}
