@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
:root {
  --neutral-0: #fff;
  --neutral-200: #dededc;
  --neutral-300: #f0f4f5;
  --neutral-400: #606162; /* for small text */
  --neutral-800: #333334;

  --neutral-900: #1e1e1f;
  --neutral-1000: #000;
  --border: #e4f1ff;
  --red-100: #df5a5a;

  /* To be decided */
  --primary-color: #f7b82f;
  --primary-color: #2f4ebd;
  /* --primary-color: #940ae9; */
  --secondary-color: #6193ea;
  /* --secondary-color: #940ae9; */
  /* --primary-color: #f7b82f; */

  --gradient: linear-gradient(to top, #fff, #ebf3fc);

  --faded-gradient: linear-gradient(to top, #ffffffea, #487cd772);
  --toggle-gradient: linear-gradient(to bottom, #ffffffc2, #2b6bda);
}

.dark {
  --neutral-0: #1e1e1f;
  --neutral-200: #333334;
  --neutral-300: #2b2b2c;
  --neutral-400: #8c8e90;
  --neutral-800: #d6d6dae4;
  --neutral-900: #fcf8f8ea;
  --neutral-1000: #fff;

  --primary-color: #2b6bda;
  /* --primary-color: #f7b82f; */

  --border: #343434;
  --red-100: #e77e7e;

  /* --primary-color: #fdcd67; */

  /* --primary-color: #af3cf6; */
  --gradient: linear-gradient(to right, #161616, #1c1f24fe);
  --faded-gradient: linear-gradient(to top, #070708fa, #487cd772);
  --toggle-gradient: linear-gradient(to right, #070708fa, #2b6bdac7);
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .animate-bounce-down {
    animation: bounce-down 1.5s infinite;
    transition: all 0.3s ease-in-out;
  }
  @keyframes bounce-down {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-0.35rem);
    }
    100% {
      transform: translateY(0.35rem);
    }
  }
}
*,
::after,
::before {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
  letter-spacing: 0.03rem;
  line-height: 1.25;
  font-weight: 900;
  color: var(--neutral-900);
}
button,
a {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

a {
  text-decoration: none;
}
p {
  line-height: 1.5;
  color: var(--neutral-800);
}
input,
textarea {
  cursor: pointer;
  outline: none;
}
input:focus,
textarea:focus {
  border: 1px solid var(--primary-color);
}
.socialIcons:hover {
  transform: scale(1.3) translateY(-3px);
  transition: all 0.3s ease-in-out;
}
