@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
:root {
  --neutral-0: #1e1e1f;
  --neutral-100: #edf3f6;
  --neutral-200: #dededc;
  --neutral-300: #f0f4f5;
  --neutral-400: #606162;
  --neutral-800: #333334;

  --neutral-900: #1e1e1f;
  --neutral-1000: #000;
  /* Overlay colors */
  --bg-overlay: #ffffffa6; /* Main background */
  --container-overlay: #ffffff32; /* Profile card and Main Container */

  --border: #d9d9d2;
  --red-100: #df5a5a;

  --primary-color: #c8a418;
  --primary-gradient-left: #0c9fb9;
  --primary-gradient-right: #e4bf2a;
  --accent-gradient-left: #8c52ff;
  --accent-gradient-right: #5ce1e6;

  --secondary-color: #6193ea;

  --gradient-primary: linear-gradient(to right, #0cc0df, #ffde59);
  --gradient-accent: linear-gradient(to right, #8c52ff, #5ce1e6);

  --main-bg: url("/main-bg/desktop-light-bg.webp");
  --faded-gradient: linear-gradient(to top, #f2f0f0, #487cd772);
  --toggle-gradient: linear-gradient(to bottom, #ffffffc2, #2b6bda);
}

.dark {
  --neutral-0: #1e1e1f;
  --neutral-100: #333339;
  --neutral-200: #333334;
  --neutral-300: #2b2b2c;
  --neutral-400: #8c8e90;
  --neutral-800: #d6d6dae4;
  --neutral-900: #fcf8f8ea;
  --neutral-1000: #fff;

  /* Overlay colors */
  --bg-overlay: #0e0d0d89;
  --container-overlay: #0e0d0d29; /* Profile card and Main Container */

  --primary-color: #ffd84d;
  --primary-gradient-left: #0cc0df;
  --primary-gradient-right: #ffde59;

  --accent-gradient-left: #875ddb;
  --accent-gradient-right: #5ce1e6;

  --border: #343434;
  --red-100: #e77e7e;

  --gradient-primary: linear-gradient(to right, #0cc0df, #ffd84d);
  --gradient-accent: linear-gradient(to right, #875ddb, #5ce1e6);

  --faded-gradient: linear-gradient(to top, #070708fa, #487cd772);
  --toggle-gradient: linear-gradient(to right, #070708fa, #2b6bdac7);
  --main-bg: url("/main-bg/desktop-dark-bg.webp");
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .animate-bounce-down {
    animation: bounce-down 1.5s infinite;
    transition: all 0.3s ease-in-out;
  }
  @keyframes bounce-down {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-0.35rem);
    }
    100% {
      transform: translateY(0.35rem);
    }
  }
}
*,
::after,
::before {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: var(--neutral-0);
}
h1,
h2,
h3,
h4 {
  letter-spacing: 0.03rem;
  line-height: 1.25;
  font-weight: 900;
  color: var(--neutral-900);
}
button,
a {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

a {
  text-decoration: none;
}
p {
  line-height: 1.5;
  color: var(--neutral-800);
}
input,
textarea {
  cursor: pointer;
  outline: none;
}
input:focus,
textarea:focus {
  border: 1px solid var(--primary-color);
}
::selection {
  background: var(--gradient-primary);
  color: var(--primary-color);
}
.glass-container {
  backdrop-filter: blur(1.5rem);
  background-color: var(--container-overlay);
  border: 1px solid var(--border);
}
.active-link {
  background: var(--gradient-primary);
  border-radius: 2rem;
  padding: 0 1.5rem;
  height: 2.5rem;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}
.link:hover {
  background: var(--gradient-primary);
  border-radius: 2rem;
  padding: 0 1.5rem;
  height: 2.5rem;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  color: var(--neutral-0);
}
.primary-gradient-bg {
  background: var(--gradient-primary);
}
.primary-gradient-bg:hover {
  background: var(--gradient-accent);
}
.accent-gradient {
  background: var(--gradient-accent);
  padding: 1px;
  opacity: 0.95;
  transition: all 0.3s ease-in-out;
}
.accent-gradient:hover {
  transition: all 0.3s ease-in-out;
  background: var(--gradient-primary);
  cursor: pointer;
}
